include:
  - ../../observability/docker-compose.yml

services:
  redis:
    image: redis
    ports:
      - "6379:6379"

  korvet:
    image: redisfield/korvet
    ports:
      - "9092:9092"
    environment:
      - KORVET_REDIS_HOST=redis
      - KORVET_SERVER_ADVERTISED_HOST=korvet
      - KORVET_REDIS_METRICS_ENABLED=true
      - KORVET_REDIS_METRICS_HISTOGRAM=true
    depends_on:
      - redis

  kafka-tools:
    image: apache/kafka
    command: sleep infinity
    depends_on:
      - korvet
